.board {
    width: 800px;
    margin: 0 auto;
    user-select: none;
    position: relative;
}

.square {
    width: 100px;
    height: 100px;
    display: table-cell;
    position: relative;
}

/* hover highlighting */
.square::after {
    display: block;
    content: '';
    width: 90px;
    height: 90px;
    margin: 5px;
}

/* corner rounding */
.rank:first-child .square:first-child {
    border-top-left-radius: 3px;
}
.rank:first-child .square:last-child {
    border-top-right-radius: 3px;
}
.rank:nth-child(8) .square:first-child {
    border-bottom-left-radius: 3px;
}
.rank:nth-child(8) .square:last-child {
    border-bottom-right-radius: 3px;
}

.square.light, .square.light::after {
    background-color: #eeeed2;
}

.square.dark, .square.dark::after {
    background-color: #769656;
}

/* The square itself is used as the boarder to prevent the pieces from being pushed about using actual boarders */
.square.is-over, .square.is-over {
    background-color:  #d9d9d9;
}

.square.light.active, .square.light.active::after {
    background-color: #f6f669;
}

.square.dark.active, .square.dark.active::after {
    background-color: #baca2b;
}

.available-indicator {
    width: 30px;
    height: 30px;
    margin: 35px;
    background-color: rgba(0,0,0,.1);
    border-radius: 50%;
    position: absolute;
}

.capture-indicator {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0,0,0,.1);
    -webkit-mask: radial-gradient(transparent 40px, #000 0px);
    mask: radial-gradient(transparent 40px, #000 0px);
    cursor: grab;
}

.label {
    padding: 5px;
    position: absolute;
    display: inline-block;
}

.dark .label {
    color: #eeeed2;
}

.light .label {
    color: #769656;
}

.file-label {
    bottom: 0;
    right: 0;
}

.rank-label {
    top: 0;
    left: 0;
}

.piece {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    background-size: 100px;
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}

.wk { background-image: url('../assets/wk.png'); }
.bk { background-image: url('../assets/bk.png'); }
.wq { background-image: url('../assets/wq.png'); }
.bq { background-image: url('../assets/bq.png'); }
.wr { background-image: url('../assets/wr.png'); }
.br { background-image: url('../assets/br.png'); }
.wb { background-image: url('../assets/wb.png'); }
.bb { background-image: url('../assets/bb.png'); }
.wn { background-image: url('../assets/wn.png'); }
.bn { background-image: url('../assets/bn.png'); }
.wp { background-image: url('../assets/wp.png'); }
.bp { background-image: url('../assets/bp.png'); }
