.grid-piece {
    position: absolute;
    width: 50px;
    height: 50px;
}

.stop-pointer-events {
    pointer-events: none;
}

/* don't animate the pieces when the board is being flipped between turns */
.board:not(.allow-flip) .animate {
    transition: top 0.2s, left 0.2s;
}

.promotion-select {
    width: 100px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    animation: fadein 0.2s;
    position: relative;
    z-index: 100;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.App > div:not(.local-game) .promotion-select.ps-black {
    position: absolute;
    top: -350px;
    z-index: 1000;
}

.promotion-select.ps-black .piece {
    position: relative;
}

.promotion-select .piece {
    position: inherit;
    cursor: pointer;
}

.promotion-select .close {
    height: 50px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.close-icon {
    margin: 9px 34px;
    color: #8c8a88;
}

.a {
    left: 0;
}

.b {
    left: 100px;
}

.c {
    left: 200px;
}

.d {
    left: 300px;
}

.e {
    left: 400px;
}

.f {
    left: 500px;
}

.g {
    left: 600px;
}

.h {
    left: 700px;
}

._8 {
    top: 0;
}

._7 {
    top: 100px;
}

._6 {
    top: 200px;
}

._5 {
    top: 300px;
}

._4 {
    top: 400px;
}

._3 {
    top: 500px;
}

._2 {
    top: 600px;
}

._1 {
    top: 700px;
}

/* 
 Positions are flipped for one of two reasons:
    - we are allowing board flips AND it's black's turn
    - it's an online game and we're on black's side
*/

.allow-flip.player-black .a, .side-black .a {
    left: 700px;
}

.allow-flip.player-black .b, .side-black .b {
    left: 600px;
}

.allow-flip.player-black .c, .side-black .c {
    left: 500px;
}

.allow-flip.player-black .d, .side-black .d {
    left: 400px;
}

.allow-flip.player-black .e, .side-black .e {
    left: 300px;
}

.allow-flip.player-black .f, .side-black .f {
    left: 200px;
}

.allow-flip.player-black .g, .side-black .g {
    left: 100px;
}

.allow-flip.player-black .h, .side-black .h {
    left: 0;
}

.allow-flip.player-black ._8, .side-black ._8 {
    top: 700px;
}

.allow-flip.player-black ._7, .side-black ._7 {
    top: 600px;
}

.allow-flip.player-black ._6, .side-black ._6 {
    top: 500px;
}

.allow-flip.player-black ._5, .side-black ._5 {
    top: 400px;
}

.allow-flip.player-black ._4, .side-black ._4 {
    top: 300px;
}

.allow-flip.player-black ._3, .side-black ._3 {
    top: 200px;
}

.allow-flip.player-black ._2, .side-black ._2 {
    top: 100px;
}

.allow-flip.player-black ._1, .side-black ._1 {
    top: 0;
}

@media screen and (max-width: 800px) {
    .promotion-select {
        width: 50px;
    }

    .promotion-select.ps-black {
        top: -175px;
    }

    .promotion-select .close {
        height: 25px;
    }

    .close-icon {
        margin: -3px 9px;
    }

    .b {
        left: 50px;
    }
    
    .c {
        left: 100px;
    }
    
    .d {
        left: 150px;
    }
    
    .e {
        left: 200px;
    }
    
    .f {
        left: 250px;
    }
    
    .g {
        left: 300px;
    }
    
    .h {
        left: 350px;
    }
    
    ._7 {
        top: 50px;
    }
    
    ._6 {
        top: 100px;
    }
    
    ._5 {
        top: 150px;
    }
    
    ._4 {
        top: 200px;
    }
    
    ._3 {
        top: 250px;
    }
    
    ._2 {
        top: 300px;
    }
    
    ._1 {
        top: 350px;
    }
    
    /* 
     Positions are flipped for one of two reasons:
        - we are allowing board flips AND it's black's turn
        - it's an online game and we're on black's side
    */
    
    .allow-flip.player-black .a, .side-black .a {
        left: 350px;
    }
    
    .allow-flip.player-black .b, .side-black .b {
        left: 300px;
    }
    
    .allow-flip.player-black .c, .side-black .c {
        left: 250px;
    }
    
    .allow-flip.player-black .d, .side-black .d {
        left: 200px;
    }
    
    .allow-flip.player-black .e, .side-black .e {
        left: 150px;
    }
    
    .allow-flip.player-black .f, .side-black .f {
        left: 100px;
    }
    
    .allow-flip.player-black .g, .side-black .g {
        left: 50px;
    }
    
    .allow-flip.player-black ._, .side-black ._8 {
        top: 350px;
    }
    
    .allow-flip.player-black ._, .side-black ._7 {
        top: 300px;
    }
    
    .allow-flip.player-black ._, .side-black ._6 {
        top: 250px;
    }
    
    .allow-flip.player-black ._, .side-black ._5 {
        top: 200px;
    }
    
    .allow-flip.player-black ._, .side-black ._4 {
        top: 150px;
    }
    
    .allow-flip.player-black ._, .side-black ._3 {
        top: 100px;
    }
    
    .allow-flip.player-black ._, .side-black ._2 {
        top: 50px;
    }
    
}

@media screen and (max-width: 400px) {
    .promotion-select {
        width: 40px;
    }

    .promotion-select.ps-black {
        top: -140px;
    }

    .promotion-select .close {
        height: 20px;
    }

    .close-icon {
        margin: 2px 12px;
    }

    .b {
        left: 40px;
    }
    
    .c {
        left: 80px;
    }
    
    .d {
        left: 120px;
    }
    
    .e {
        left: 160px;
    }
    
    .f {
        left: 200px;
    }
    
    .g {
        left: 240px;
    }
    
    .h {
        left: 280px;
    }
    
    ._7 {
        top: 40px;
    }
    
    ._6 {
        top: 80px;
    }
    
    ._5 {
        top: 120px;
    }
    
    ._4 {
        top: 160px;
    }
    
    ._3 {
        top: 200px;
    }
    
    ._2 {
        top: 240px;
    }
    
    ._1 {
        top: 280px;
    }
    
    /* 
     Positions are flipped for one of two reasons:
        - we are allowing board flips AND it's black's turn
        - it's an online game and we're on black's side
    */
    
    .allow-flip.player-black .a, .side-black .a {
        left: 280px;
    }
    
    .allow-flip.player-black .b, .side-black .b {
        left: 240px;
    }
    
    .allow-flip.player-black .c, .side-black .c {
        left: 200px;
    }
    
    .allow-flip.player-black .d, .side-black .d {
        left: 160px;
    }
    
    .allow-flip.player-black .e, .side-black .e {
        left: 120px;
    }
    
    .allow-flip.player-black .f, .side-black .f {
        left: 80px;
    }
    
    .allow-flip.player-black .g, .side-black .g {
        left: 40px;
    }
    
    .allow-flip.player-black ._, .side-black ._8 {
        top: 280px;
    }
    
    .allow-flip.player-black ._, .side-black ._7 {
        top: 240px;
    }
    
    .allow-flip.player-black ._, .side-black ._6 {
        top: 200px;
    }
    
    .allow-flip.player-black ._, .side-black ._5 {
        top: 160px;
    }
    
    .allow-flip.player-black ._, .side-black ._4 {
        top: 120px;
    }
    
    .allow-flip.player-black ._, .side-black ._3 {
        top: 80px;
    }
    
    .allow-flip.player-black ._, .side-black ._2 {
        top: 40px;
    }
    
}
