form {
    display: flex;
    justify-content: space-between;
    color: white;
}

input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    caret-color: white;
    color: white;
    font-size: 2vmin;
}

#submit-btn {
    margin-left: 5px;
    cursor: pointer;
    color: white;
    background: transparent;
    border: none;
    font-size: 2vmin;
    border: 1px solid transparent;
}

#submit-btn:active {
    border: 1px solid white;
    border-radius: 2px;
}

#submit-btn {
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover #submit-btn {
    opacity: 100%;
}

.remove-user {
    display: inline-block;
    color: white;
    margin-left: 8px;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.5s, transform 0.5s;
}

.existing-username:hover .remove-user {
    opacity: 100%;
    transform: rotate(90deg);
}

.remove-user:hover {
    /* keep the same rotation so it doesnt ratate back */
    transform: rotate(90deg) scale(1.2) !important;
}

.scrolled-settings {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5vmin;
    position: absolute;
    margin-top: 10vmin;
}
