.settings {
    width: 600px;
    background-color: rgb(39 37 34);
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.setting-option {
    background-color: rgba(0, 0, 0, .18);
    color: rgb(179, 179, 179);
    font-size: 1.6rem;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.setting-option:hover {
    color: white;
    background-color: rgba(0, 0, 0, .12);
}

form {
    display: flex;
}

input {
    margin-left: 20px;
    font-size: 16pt;
}
